
.ekspanderbartPanel__heading {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.react-grid-layout {
  background: #eee;
}

.react-grid-item.cssTransforms {
  transition-property: transform;/*, height, width;*/
}

.editLayout {
  background-color: rgba(255,255,255,0.7);
  text-align: center;
}

.editLayoutTitleDiv {
  background: lightgrey;
  margin: 5px;
  cursor: move;
}

.editLayoutTitle {
  padding: 3px;
}

.editLayoutDeleteButton {
  background: white;
  padding-left: 3px;
  float: right;
}

.c-ui-widget {
  height: 100%;
}

.c-ui-d-widgetAddContainer {
  padding: 10px;
  background: #eee;
  margin-bottom: 10px;
  display: flex;
}

.c-ui-d-widgetAdd {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  margin-right: 10px;
}
