
.ekspanderbartPanel__heading {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.react-grid-layout {
  background: #eee;
}

.react-grid-item.cssTransforms {
  transition-property: transform;/*, height, width;*/
}

.EditLayout {
  background-color: rgba(255,255,255,0.7);
  text-align: center;
}

.c-ui-widget {
  height: 100%;
}
